# Análise Ranking CCONF

Neste notebook vamos analisar a aba municípios da planilha que contém os dados sobre a aplicação dos critérios elaborados pela CCONF. Vamos lá!

Começamos importando os dados da planilha para dentro de um Data Frame para podermos manipulá-los no python:

Vamos criar duas variáveis que guardam as colunas que: 
a) São relacionadas à capag:
b) Não são relacionadas à capag

In [1]:
col_capag = "S:W, Y:AA, AL:AN, AS, AU: BA, BD:BF, BM, BO, BQ, BS, BU"
col_nao_capag = "B:R,X,AB:AK, AO:AR, AT, BB:BC, BG:BL, BN,BP,BR,BT"
col_gerais = "A,BV, BW,BX,BY,BZ, CA"

Criando os Data Frames usando a library pandas

In [4]:
import pandas as pd
import numpy as np

data_capag = pd.read_excel(r'C:\Users\fioro\PycharmProjects\ranking_cconf\assets\Testes_Ranking_CCONF_2020-CAPAG.xlsx', 'Municípios', usecols = col_gerais+col_capag, skipfooter = 1 )
print(data_capag.dtypes)
print(data_capag.head(5))

data_nao_capag = pd.read_excel(r'C:\Users\fioro\PycharmProjects\ranking_cconf\assets\Testes_Ranking_CCONF_2020-CAPAG.xlsx', 'Municípios', usecols = col_gerais+col_nao_capag, skipfooter = 1)
print(data_nao_capag.dtypes)
print(data_nao_capag.head(5))

data_total = pd.read_excel(r'C:\Users\fioro\PycharmProjects\ranking_cconf\assets\Testes_Ranking_CCONF_2020-CAPAG.xlsx', 'Municípios', usecols = col_gerais+col_nao_capag + col_capag, skipfooter = 1)
print(data_total.dtypes)
print(data_total.head(5))

ENTE                 int64
D2_00010             int64
D2_00011             int64
D2_00012             int64
D2_00023             int64
D2_00024             int64
D2_00028             int64
D2_00033             int64
D3_00002             int64
D3_00003             int64
D3_00005             int64
D3_00006             int64
D3_00007             int64
D3_00008             int64
D3_00009             int64
D3_00012             int64
D3_00013             int64
D4_00001             int64
D4_00008             int64
D4_00010             int64
D4_00012             int64
D4_00014             int64
D4_00016             int64
Ente                object
Total              float64
Capital?            object
Id                   int64
Testes da CAPAG      int64
dtype: object
      ENTE  D2_00010  D2_00011  D2_00012  D2_00023  D2_00024  D2_00028  \
0  4200556         1         1         1         1         1         1
1  4317004         1         1         1         1         1         1
2  3165578         1         1         1         1         1         1
3  4320321         1         1         1         1         1         1
4  2103554         1         1         1         1         1         1

   D2_00033  D3_00002  D3_00003  ...  D4_00008  D4_00010  D4_00012  D4_00014  \
0         1         1         1  ...         1         1         1         1
1         1         1         1  ...         1         1         1         1
2         1         1         1  ...         1         1         1         1
3         1         1         1  ...         1         1         1         1
4         1         1         1  ...         1         1         1         1

   D4_00016                        Ente  Total  Capital?  Id  Testes da CAPAG
0         1            Águas Frias - SC   60.0       Não   1               27
1         1   Santana da Boa Vista - RS   59.8       Não   2               27
2         1         Senador Amaral - MG   59.6       Não   3               27
3         1  Senador Salgado Filho - RS   59.6       Não   4               27
4         1  Conceição do Lago-Açu - MA   59.5       Não   5               27

[5 rows x 28 columns]
ENTE                 int64
D2_00008             int64
D2_00013             int64
D2_00014             int64
D2_00015             int64
D2_00016           float64
D2_00017           float64
D2_00018           float64
D2_00019             int64
D2_00020           float64
D2_00021           float64
D2_00022             int64
D2_00029             int64
D2_00030             int64
D2_00031             int64
D2_00032             int64
D3_00001             int64
D3_00010             int64
D3_00011             int64
D4_00002             int64
D4_00003             int64
D4_00004             int64
D4_00005             int64
D4_00006             int64
D4_00007             int64
D4_00009           float64
D4_00011           float64
D4_00013           float64
D4_00015           float64
Ente                object
Total              float64
Capital?            object
Id                   int64
Testes da CAPAG      int64
dtype: object
      ENTE  D2_00008  D2_00013  D2_00014  D2_00015  D2_00016  D2_00017  \
0  4200556         1         1         1         1       NaN       NaN
1  4317004         1         1         1         1       NaN       NaN
2  3165578         1         1         1         1       NaN       NaN
3  4320321         1         1         1         1       NaN       NaN
4  2103554         1         1         1         1       NaN       NaN

   D2_00018  D2_00019  D2_00020  ...  D4_00007  D4_00009  D4_00011  D4_00013  \
0       NaN         1       NaN  ...         1       NaN       NaN       NaN
1       NaN         1       NaN  ...         1       NaN       NaN       NaN
2       NaN         1       NaN  ...         1       NaN       NaN       NaN
3       NaN         1       NaN  ...         1       NaN       NaN       NaN
4       NaN         1       NaN  ...         1       NaN       NaN       NaN

   D4_00015                        Ente  Total  Capital?  Id  Testes da CAPAG
0       NaN            Águas Frias - SC   60.0       Não   1               27
1       NaN   Santana da Boa Vista - RS   59.8       Não   2               27
2       NaN         Senador Amaral - MG   59.6       Não   3               27
3       NaN  Senador Salgado Filho - RS   59.6       Não   4               27
4       NaN  Conceição do Lago-Açu - MA   59.5       Não   5               27

[5 rows x 34 columns]
ENTE                 int64
D2_00008             int64
D2_00010             int64
D2_00011             int64
D2_00012             int64
D2_00013             int64
D2_00014             int64
D2_00015             int64
D2_00016           float64
D2_00017           float64
D2_00018           float64
D2_00019             int64
D2_00020           float64
D2_00021           float64
D2_00022             int64
D2_00023             int64
D2_00024             int64
D2_00028             int64
D2_00029             int64
D2_00030             int64
D2_00031             int64
D2_00032             int64
D2_00033             int64
D3_00001             int64
D3_00002             int64
D3_00003             int64
D3_00005             int64
D3_00006             int64
D3_00007             int64
D3_00008             int64
D3_00009             int64
D3_00010             int64
D3_00011             int64
D3_00012             int64
D3_00013             int64
D4_00001             int64
D4_00002             int64
D4_00003             int64
D4_00004             int64
D4_00005             int64
D4_00006             int64
D4_00007             int64
D4_00008             int64
D4_00009           float64
D4_00010             int64
D4_00011           float64
D4_00012             int64
D4_00013           float64
D4_00014             int64
D4_00016             int64
Ente                object
Total              float64
Capital?            object
Id                   int64
Testes da CAPAG      int64
dtype: object
      ENTE  D2_00008  D2_00010  D2_00011  D2_00012  D2_00013  D2_00014  \
0  4200556         1         1         1         1         1         1
1  4317004         1         1         1         1         1         1
2  3165578         1         1         1         1         1         1
3  4320321         1         1         1         1         1         1
4  2103554         1         1         1         1         1         1

   D2_00015  D2_00016  D2_00017  ...  D4_00011  D4_00012  D4_00013  D4_00014  \
0         1       NaN       NaN  ...       NaN         1       NaN         1
1         1       NaN       NaN  ...       NaN         1       NaN         1
2         1       NaN       NaN  ...       NaN         1       NaN         1
3         1       NaN       NaN  ...       NaN         1       NaN         1
4         1       NaN       NaN  ...       NaN         1       NaN         1

   D4_00016                        Ente  Total  Capital?  Id  Testes da CAPAG
0         1            Águas Frias - SC   60.0       Não   1               27
1         1   Santana da Boa Vista - RS   59.8       Não   2               27
2         1         Senador Amaral - MG   59.6       Não   3               27
3         1  Senador Salgado Filho - RS   59.6       Não   4               27
4         1  Conceição do Lago-Açu - MA   59.5       Não   5               27

[5 rows x 55 columns]

Os nomes dos municípios e e estados estão agrupados na coluna "BV", vamos separá-los

In [3]:
#data['Ente'] = Cod_UF.ESTADO.str[-2:]